{% extends "blog-page.html" %}
{% load static %}
{% block meta_title %}
Why Customer Success should own more of your Product Roadmap
{% endblock %}

{% block meta_desc %}3 reasons CS owns more of the roadmap than ever. Plus: 17 CS Leaders share how they influence their product roadmap.{% endblock %}


{% block head %}
  <!-- open graph tags -->
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:title" content="Why Customer Success should own more of your Roadmap" /> <!-- 57 chars -->
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Why Customer Success should own more of your Product Roadmap" /> <!-- 73 chars -->

  <meta property="og:site_name" content="Savio" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/blog/cs-leaders/hero.png' %}" />

  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="750" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@savio_io" />

  <!-- 115 chars max -->
  <meta property="twitter:description" content="Here are the three reasons CS will own even more of the roadmap in the future. " />

  <!-- end open graph -->

  <!-- for content upgrade -->
  <script src="https://sendfox.com/js/form.js"></script>
{% endblock %}


{% block content %}

  <div class="col-md-12 blog blog-title text-center">
    <h1>Why Customer Success should own more of your Product Roadmap</h1>
    <h2>Plus: 17 Customer Success leaders share how <br>they influence their roadmap</h2>

  </div>
    <div class="col-md-8 offset-md-2 blog">
      <img src="{% static 'images/blog/cs-leaders/hero2.png'%}" class="img-fluid img-border"></p>


<p>
We’ve been on the phone with dozens of Customer Success folks lately.  After one
particularly insightful call, it became clear we were seeing a significant
change in how customer-centric companies determine what their development teams
work on.
</p>
<p>
The change is this: <strong>customer-facing teams -- particularly Customer
Success -- are increasingly using customer feedback to influence the product
roadmap.</strong>  This is a trend we call “Feedback Driven Development”.
</p>

<div id="toc">
  <h2>Table of contents</h2>
  <ul id="toc-list"></ul>
</div>

<h3>What is Feedback-Driven Development?</h3>
<p>
In the old world, Product Management was the team that drove the roadmap: they
talked to customers and customer-facing teams, synthesized all the feedback,
sprinkled in some stakeholder inputs, managed some Hippos (HIghest Paid People’s
Opinions), and produced a roadmap.
</p>
<p>
In the new world, Product Management still does what they do, <em>but for less
of the roadmap than they used to.  <strong>In the new world, we've heard about Customer Success teams
owning up to 80% of the roadmap.</strong></em>
</p>
<p>
This is a major change: historically, Product owned the roadmap. But because
Customer Success signs up for revenue targets, they have a bigger seat at the
table, more data about what customers want, and correspondingly more power over
what gets built.
</p>
<p>
You don’t have to look very far to see why software companies embrace this.
Superhuman is a prime example of how a strong customer success team and
customer-centric culture can impact the roadmap.  Rahul Vohra, Superhuman’s CEO,
<a target="_blank" href="https://capiche.com/q/what-tools-help-you-decide-what-to-build-next-prioritizetriage-feedback-whats-the-one-source-of-truth-for-you">talks
about how 50% of their dev budget is spent on building features based on the
40,000 customer requests</a> they’ve triaged and tracked.  The other 50% is
spent on strategic features.  It’s hard to see how Superhuman would be as good a
product without focusing 50% of their developer budget on the features that
their strong CS team brings to the table.
</p>
<h3>Why is this trend happening?</h3>
<p>
When you break it down, Customer Success has both the means and motivation to
heavily influence the roadmap -- and forward-thinking SaaS companies have
realized it’s in their best interest to empower them to do so.
</p>
<p>
Here’s why:
</p>
<ol>
<li>Net negative revenue churn driven by retention and expansion revenue is the
key to SaaS growth
<li>The way to retain and expand is to solve your customers’ problems by
building what they need
<li>Customer Success is the best informed group in a SaaS org about what their
customers need, because they hear it day-in and day-out
<li>Customer Success usually owns renewals and expansion.  So in addition to
hearing about customer pains regularly, CS is also <em>responsible</em> for
solving those pains to drive renewal and expansion revenue on the march to net
negative revenue churn.
</li>
</ol>
<p>
It’s hard to imagine this trend won’t continue.  In a world where the number of
options in a category is exploding, renewal and expansion revenue is even more
important.  Which means Success will prioritize MORE of the roadmap than they do
today.  Product will still drive strategic and competitive features and
execution (though Customer Success is also a great pipeline for competitive
information).
</p>
<h3>Isn’t using customer feedback to build software just giving people "faster horses"?</h3>
<p>
Henry Ford’s quote is well-known and <a target="_blank" href="https://hbr.org/2011/08/henry-ford-never-said-the-fast">probably
apocryphal</a>: “If I had asked people what they wanted, they would have said
faster horses.”
</p>
<p>
There is some merit to the idea of consumers not knowing what they want when it
comes to <em>invention</em> (building a brand-new, category defining product…
like a car).  But when it comes to <em>innovation</em> (improving on an existing
product… like Superhuman and email… or Slack and email), customer feedback is
gold.
</p>
<p>
If you want to dive deeper into the difference between invention vs innovation,
David Cancel and Dave Gerhardt break it down for you on this <a target="_blank" href="https://www.youtube.com/watch?v=gVcviazmyP0 ">short and entertaining
episode of Drift’s Seeking Wisdom podcast</a>.
</p>
<h3>How Customer Success leaders use Feedback-Driven Development to influence the product roadmap</h3>
<p>
To see how other organizations use feedback to influence the roadmap, we asked a
handful of Customer Success leaders how they influence the Product Roadmap in
their respective organizations.  The answers were telling:<strong>
feedback-driven development is alive and well.</strong>
</p>
<p>Here are how 17 Customer Success leaders use feedback to drive the product roadmap at their companies.</p>
<hr class="separator">
<img src="{% static 'images/blog/cs-leaders/conor-cox.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Conor Cox, Chief Customer Officer @ <a target="_blank" href="https://proposify.com">Proposify</a></h4>

<p>
Trying to nail down a single ‘thing’ we do to influence the roadmap is really
challenging. We’ve made the customer team omnipresent throughout our product
development cycle - from the initial idea, through to the user acceptance
testing we use to validate features and fixes on their way out the door.
</p>
<p>
At Proposify, we like to think the Customer Team owns the roadmap - we can
connect (almost) every planned development effort back to customer conversations
that our team has had over the past 6 months.
</p>
<p>
In terms of a single event - we host a monthly meeting called “The 5 Product
Improvements You Need” that brings together a wide cast of characters from
Product, User Research, Customer Success along with leaders from our executive
team.
</p>
<p>
The meeting works for 3 reasons:
</p>
<ol>
<li>We have executive buy-in. Our Chief Product Officer (and myself) are there
to run the meeting and make sure voices are heard, and actions are taken. If you
don’t have a high level of influence and commitment from your leadership team,
meetings (like this) turn into echo chambers.
<li>Limit the ideas CSMs can bring. If you shine a light on every idea that
customers have brought up in the past month, the meeting would take days. We run
this 11-person meeting in 1 hour, and narrow 15-20 requested improvements down
to a shortlist of 5 (or less) through CSM voting. Each CSM gets 4 votes that
they can allocate to any of the improvements listed for that month, and we tally
the votes up to determine our new projects.
<li>Attendees see action. We start the meeting off by reviewing the improvements
we’ve shipped from last month, along with status updates for improvements in
development. The simple act of removing shipped items from our queue, and
sharing the progress that has been made keeps motivation high and helps to build
trust between our customer success and product teams.
</li>
</ol>
<p>
Follow Conor: <a target="_blank" href="https://twitter.com/conorcox?lang=en">@conorcox</a>
</p>


<hr class="separator">


  <form method="post" action="https://sendfox.com/form/1dze03/36wq74" class="sendfox-form" id="36wq74" data-async="true" style=" border: 1px solid #aaa; padding: 0 40px 20px 40px; background-color: #eee; margin-bottom: 40px; margin-top: 40px;">

  <h3 class="no-anchor">Want a monster compilation of how top SaaS companies collect feedback (with 51+ examples and growing)?</h3>
  <p>We're working on one. Enter your info below and we'll send it to you when it's done.</p>
  <p><input class="form-control" type="text" placeholder="Your First Name" name="first_name" required /></p>
  <p><input class="form-control" type="email" placeholder="Email Address" name="email" required /></p>
  <!-- no botz please -->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
  <p class="text-center"><button class="btn btn-primary" type="submit">Send me the compilation!</button></p>
  </form>

   <hr class="separator">


<img src="{% static 'images/blog/cs-leaders/chad-horenfeldt.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Chad Horenfeldt, Director of Customer Success @ <a target="_blank" href="https://www.kustomer.com">Kustomer</a></h4>

<p>
The #1 thing
we do to influence the roadmap is to create multiple opportunities for
discussions to happen between the Customer Experience (CX) and the Product
teams. We have a bottoms-up approach where the members of the CX team can bring
forward top issues. Each CX team reviews them and then prioritizes them for the
PM team. The PM team has set aside a certain amount of time per sprint to work
on these issues and there is a constant dialog to ensure that the right issues
are being worked on. In addition, once a month we hold a client health review
meeting with members of the executive team where we go over any trends we’re
hearing from customers in regards to product gaps and issues. While there is
always room for improvement, having these mechanisms in place allows everyone
the opportunity to influence the direction of the product.
</p>
<p>
Follow Chad: <a target="_blank" href="https://twitter.com/ChadTev">@ChadTev</a>
</p>

<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/elyse-roach.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Elyse Roach, Product Specialist @ <a target="_blank" href="https://www.helpscout.com">Help Scout</a><br></h4>
<p>
At Help Scout, we map all of our support conversations from Help Scout and any
feature requests linked to them in Jira, into our business analytics tool,
Looker. From there we're able to accurately track trends over time (instead of
looking at overall request volume only) and better parse what the impact of the
request is—for example, are there any specific groups of customers who are
requesting the feature?
</p>
<p>
Understanding more around who is requesting the feature and the pain that they
might be feeling around it, helps us to prioritize items in the roadmap. If we
need to decide between two highly requested features, an impact statement built
with our customer data can be the tie breaker!
</p>
<p>
Follow Elyse: <a target="_blank" href="https://twitter.com/itselyseroach">@itselyseroach</a>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/jeff-gardner.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Jeff Gardner, Head of Customer Success @ <a target="_blank" href="https://www.graphyapp.com">Graphy</a> </h4>
<p>
(Before Graphy, Jeff was Director of Support and Customer Success at Intercom)
</p>
<p>
The most impactful way to get more of the features built that your customers are
asking for is to do two things.
</p>
<p>
First, you need to find ways to make customers more tangible to more of the
company. And second, you need to bring data.
</p>
<p>
When you're a very small company it's easy for nearly everyone in the company to
have direct contact with customers. Things like all-hands support or engineers
talking directly with customers to troubleshoot bugs help to keep the needs and
wants of customers at the front of everyone's mind.
</p>
<p>
However, as your company grows and jobs become more specialized it becomes
harder and harder for teammates to have a direct and personal relationship with
customers. Even in some of the "best" product teams in the world, it's common to
see PMs fall back on watching sessions and analyzing survey data instead of
actually getting in front of a customer and getting the unfiltered view. There
are many very legitimate reasons why this tends to happen (and not all of those
changes are net bad) but it's an important job of any customer
support/success/experience executive to remind everyone in a company who their
customers are and why the company's product matters to those customers.
</p>
<p>
At Intercom, we ran a Customer Support Day to help with this. Anyone in the
company could come down and sit with the support team and spend the day
answering questions from our customers. A key part of this experience was that
we'd specifically ask everyone to write a message in the #general channel in
Slack highlighting their experience from the day. These posts nearly always
kicked off a broader discussion. The point is, you have to intentionally
engineer ways to bring customer experience to every employee in your company so
that they feel empathy and have some sort of emotional connection to the people
you're building for.
</p>
<p>
Second, data is incredibly powerful. Anyone who has ever worked front line
customer support (or retail, or food service for that matter) can attest to just
how hard it is to resist being purely anecdotal. Day in and day out you're
confronted with raw experiences of dealing with people who are frustrated or
confused. It's hard not to focus on (or remember) the biggest emotions. But to
have a hope of having your voice heard in the roadmap meeting you need to show
up with concrete data that helps PMs, product owners, or founders understand
what customers, in aggregate, are asking for. You should break down this data by
customer segment or type as well. This helps product leaders understand bigger
picture questions like, "Are we going after the right customer in the first
place".
</p>
<p>
Follow Jeff: <a target="_blank" href="https://twitter.com/erskingardner">@erskingardner</a>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/stephanie-thum.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Stephanie Thum, CCXP, Founder @ <a target="_blank" href="https://www.practical-cx.com/">PracticalCX</a></h4>
<p>
In my experience, customers' and/or intermediaries' verbatim remarks are the
most powerful for influencing changes to products and or services. Verbatims
include remarks from well-documented client interviews, open text boxes in
online surveys, customer emails, contact center recordings, or transcripts of
contact center recordings.
</p>
<p>
These are effective for getting the attention of the right people in the
organization because they came straight from human beings who were actually
using the product or service, and usually frustrated by it.
</p>
<p>
Follow Stephanie: <a
href="https://twitter.com/stephaniethum">@stephaniethum</a><strong> </strong>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/jamie-osullivan.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Jamie OSullivan, Customer Success Director Global Accounts @ <a target="_blank" href="https://www.botify.com">Botify</a></h4>
<p>
The most successful tactic to influencing the product roadmap is tying the idea
back to revenue -- No Sh*t Sherlock!
</p>
<p>
First and foremost, if a top tier client requests a feature, the product team
will listen. If a dozen smaller clients request a feature, aggregating the total
ACV and building your narrative from that perspective will resonate internally.
</p>
<p>
You have successfully jumped over the first hurdle -- what next?
</p>
<p>
Now that you have attracted attention, you must assume the facilitator role and
connect the product team with the client. In this role, you will provide all the
relevant context to both parties and create the environment for them to connect.
</p>
<p>
To continuously build on the momentum, it's a good idea to leverage your
champions and encourage them to share constant feedback as to why this new
feature is mission-critical to their operations.
</p>
<p>
If you don't have a heavy-weight client to back you up, the alternative route is
to build a case on potential long-term expansion associated with this feature.
This requires a little more primary research where you must gather expressed
interest from as many clients as possible. Once you can demonstrate the new
feature will lead to revenue expansion you will be in a good position to push
the feature through the door.
</p>
<p>
Follow Jamie: <a target="_blank" href="https://twitter.com/jamiebattosull">@jamiebattosull</a>
</p>

<hr class="separator">


<div style="border: 1px solid #aaa; padding: 0 40px 0 40px; background-color: #eee; margin-bottom: 40px; margin-top: 40px;" class="text-center">
  <p><a href ="{% url 'marketing-home' %}">Looking to centralize your customer feedback?<br>Check out Savio →</a></p>
</div>


<hr class="separator">


<img src="{% static 'images/blog/cs-leaders/anant-pai.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Anant Pai, Manager of Campaign Success @ <a target="_blank" href="https://www.newmode.net/">New/Mode</a></h4>
<p>
We track all feature requests, and link those tickets directly to the original
request in Hubspot CRM. We're able to quantify demand as well as directly see
which of our subscribers are waiting for specific features.
</p>
<p>
This works because we have great communication between CS, Dev, and Product.
Prioritization is much easier when the product and dev teams understand the
impact that features have on subscribers, and CS is able to set
expectations better when they understand the current product roadmap and
technical limitations that prevent certain features from being implemented
immediately.
</p>
<p>
We facilitate this great communication with regular structured meetings.  At
least one support agent is involved in our backlog grooming, sprint demos, and
sprint planning. I attend all of them.
</p>
<p>
If we have feature requests or bugs that aren't hotfixes, we link those tickets
in Hubspot to the issue in the dev tool, and put them in a special category. The
support team has a group discussion before backlog grooming / sprint planning to
discuss which of these “special” feature requests or bugs we want to prioritize
for dev.
</p>
<p>
The linked ticket makes it easier to identify which of our subscribers are
affected by the bug, and how many are affected.
</p>
<p>
We don't have a set method of weighting what we ask dev to build, but these are
the factors that generally go into it:
</p>
<ol>
<li>How much of a blocker the bug/feature is to the subscriber's ability to use
the product
<li>How many subscribers are affected
<li>If it's a feature request, is it something that makes sense organically, or
will it affect the product drastically or take it in an unusual direction? If
so, that's another discussion altogether with the product team.
</li>
</ol>
<p>
Follow Anant: <a target="_blank" href="https://twitter.com/Anutty314">@anutty314</a>
</p>
<p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/ross-fulton.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Ross Fulton, Founder and CEO @ <a target="_blank" href="https://valuize.co/">Valuize</a></h4>
<p>
Delivering the voice of the customer directly to the product org is the most
effective tactic I’ve seen to get features built that customers need.
</p>
<p>
This could be via a Customer Advisory Board and/or via a customer community.
Enabling the customer community to 'upvote' product enhancement requests on a
customer community platform is a great way of doing this at scale.  Hearing it
straight from the horses' (customers') mouths means that any sentiment related
to non-customer centric bias in the feature requests is eliminated.
</p>
<p>
Follow Ross: <a target="_blank" href="https://twitter.com/RossGDFulton">@RossGDFulton</a>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/jeremy-watkin.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Jeremy Watkin, Manager, Product Marketing @ <a target="_blank" href="https://www.8x8.com/">8x8</a></h4>
<p>
(Jeremy worked in CX and Support before moving to Product Marketing).
</p>
<p>
At 8x8 it totally depends on the size of the deal. If the opportunity is large
enough in working with a name brand, sometimes that’s enough to prioritize a
feature request.
</p>
<p>
Otherwise you do need both stories and data. Stories speak to the heart and the
data speaks to the head. At least I need both. I’ve met a few execs in my life
that only hear the data (not naming names).
</p>
<p>
Key factors to prioritize are (from a contact center perspective) the cost per
contact for supporting that issue. Also lost revenue from churn mixed with the
cost of acquiring a new customer is a good one.
</p>
<p>
As far as stories, I’ve done my share of losing my cool with product/engineering
so they can feel my pain. Sometimes that’s being a good advocate not just for
customers but for your team who has to deal with upset customers.
</p>
<p>
In a SaaS environment, ideally Product is already asking for that information.
It’s a partnership and they really want the data to ensure that they are being
smart with priorities. I’ve never had access to FullStory, but have shared
customer emails/phone recordings. More specific is always better.
</p>
<p>
Follow Jeremy: <a target="_blank" href="https://twitter.com/jtwatkin">@jwatkin</a>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/nate-brown.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Nate Brown, Chief Experience Officer @ <a target="_blank" href="https://www.officiumlabs.io/">Officium Labs</a></h4>
<p>
Customer-centricity is built into everything we do. We go deep into
relationships with our customers, regularly holding brainstorming conversations
and white boarding solutions. Nearly all of our Officium products were born when
one of our customers had an issue that we could help solve. Our tagline of
"let's build it together" is something we take very seriously!
</p>
<p>
When it comes to player experience, small things in a game can make-or-break the
simulation. Understanding how players advance through an environment and the
behaviors they perform is essential to increasing overall engagement. By
creating clear player personas from both a qualitative and quantitative point of
view, as well as creating custom "player voice" listening paths, we can make
ultra-targeted recommendations to the game team for future development. This
philosophy has allowed us to increase player spend, time in game, win-back rate,
and so much more!
</p>
<p>
Follow Nate: <a
href="https://twitter.com/customerisfirst">@customerisfirst</a>
</p>
<hr class="separator">


<img src="{% static 'images/blog/cs-leaders/mo-mckibbin.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Mo McKibbin, Head of Customer Experience @ <a target="_blank" href="https://www.brightback.com">BrightBack</a></h4>
<p>
Cannot recommend Help Scout tags enough for tracking feature requests. Here's
the process:
</p>
<ol>
<li>Customer asks for a feature or reports bad UX/UI etc.
<li>We create a tag to track it. Will look like cohort-report. Or
multi-channel-slack. We have a "changelog" Slack channel we post in when new
Tags are created<br>
<img src="{% static 'images/blog/cs-leaders/mo1.png' %}" class="img-fluid">
<li>Help Scout also makes it easy to start typing to reveal existing
tags<br>
<img src="{% static 'images/blog/cs-leaders/mo2.gif' %}" class="img-fluid">
<li>Every time that customer asks for that feature/reports that problem, we
throw on the tag. It's a real lightweight way to track common asks.
</li>
</ol>
<p>
This puts a data point to customer requests, which you can view easily in
reports. If you are using other means of tracking account status (like trial vs.
customer vs prospect) you can even filter to be like "these are the requests for
evaluators/trials/prospects vs. customers":
</p>
<p>
<img src="{% static 'images/blog/cs-leaders/mo3.png' %}" class="img-fluid">
</p>
<p>
If you want to pull up a list of all customers that requested a specific
feature, you can pull it up easily in search (great for communicating about beta
releases, or getting folks to interview on what they are looking for
specifically for it):
</p>
<p>
<img src="{% static 'images/blog/cs-leaders/mo4.png' %}" class="img-fluid">
</p>
<p>
When the product/feature is released, you can run a Workflow (sometimes called
Rules in other help desks) by that tag to notify all customers that asked about
it at once 🎉
</p>
<p>
Follow Mo: <a target="_blank" href="https://twitter.com/momckibbin/">@momckibbin</a>
</p>

<hr class="separator">


<div style="border: 1px solid #aaa; padding: 0 40px 0 40px; background-color: #eee; margin-bottom: 40px; margin-top: 40px;" class="text-center">
  <p><a href ="{% url 'marketing-home' %}">Want a tool that covers Mo's scenarios but collect feedback from more than just Help Scout? Try Savio →</a></p>
</div>

<hr class="separator">



<img src="{% static 'images/blog/cs-leaders/matt-kitch.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Matt Kitch, Head of Customer Success @ <a target="_blank" href="https://www.fileinvite.com">FileInvite</a></h4>
<p>
Usually my influence is through weighting the number of requests we have had for
certain features, and pulling in anecdotal feedback to ensure the UX of a
feature, or any consequences of changes to a feature are minimised.
</p>

<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/junaid-mohammed.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Junaid Mohammed, Head of Customer Success @ <a target="_blank" href="https://hiverhq.com/">Hiver</a></h4>
<p>
The customer success team at Hiver plays a huge role in shaping the product
roadmap as we interact with customers on a daily basis and take forward feature
requests. So, as part of influencing the roadmap, the most important thing we do
is breaking down the “why” behind feature requests.
</p>
<p>
A lot of product companies I know of build features just because a large client
asks for it. While this might help bring in more revenue in the short term, it's
not a feasible strategy to adopt. So, to uncover the 'why' behind feature
requests, what we do is regularly interact with customers to understand their
needs, find out how a new feature would fit into their current workflow, and
most importantly, what exact pain point would this feature solve.
</p>
<p>
We also make sure to map these feature requests with our long-term product
roadmap and see how well they align. Any feature you build must cater to and
most importantly 'delight' a large proportion of your customers. If the "why"
behind building a new feature is explained and broken down well to your product
team, it helps you envision if this feature can be beneficial in the long run
for more customers.
</p>
<p>
Breaking down the 'why' lies mainly in understanding the pain point the feature
would solve and seeing how compatible the feature request is with the current
roadmap.
</p>
<hr class="separator">


<img src="{% static 'images/blog/cs-leaders/mercer-smith-looper.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Mercer Smith-Looper, Director of Support @ <a target="_blank" href="https://www.appcues.com">AppCues</a></h4>
<p>
We have a meeting every two weeks where members of the support, success and
engineering teams gather together to talk about the known issues, bugs, and
feature requests that our customers are hitting. All customer-facing teams are
committed to keeping track of any requests that they've seen in Clubhouse (we
add the links to the contextual conversations (Help Scout, Gong, etc) as
comments to the CH ticket), and the engineering team members are always super
receptive in our group meeting!
</p>
<p>
This works because it feels like we are all on the same page. It feels like we
all are rowing in the same direction for the same reason, and we know that we
are all aligned in doing what is right for the customer.
</p>
<p>
Follow Mercer: <a target="_blank" href="https://twitter.com/mercenator">@mercenator</a>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/james-scott.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>James Scott, VP Customer Success @ <a target="_blank" href="http://www.shootproof.com">ShootProof</a></h4></p>
<p>We've
found the most effective way to influence the roadmap is to let our customers do
the talking. First, we set up listening posts to collect both objective data
(survey scores & metrics) as well as verbatim comments from our customers. We
then filter out the noise and then play the remaining signal (with some
amplification!) back to our Product team.
</p>
<p>
I think this works well because our Product team gets to hear our customer voice
directly, but in a way that is easy to understand and action. It removes most
subjectivity and personal bias from the discussion and makes it easier for our
Product Managers to focus on what matters most to our customers.
</p>
<p>
Follow James: <a target="_blank" href="http://twitter.com/ukjamesscott">@ukjamesscott</a>
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/tsvika-vishnievsky.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Tsvika Vishnievsky, VP CS Operations, Support and Professional Services @ <a target="_blank" href="https://www.yotpo.com">Yotpo</a></h4>
<p>
Basically - you need to be able to classify tickets according to the relevant
feature and map the specific inquiry type inside that.
</p>
<p>
Then - you'll have a sliced and diced "map" of all the relevant needs and you'll
be able to attach a $ value to the request.
</p>
<p>
You'll also be able to follow up with your customers and share possible ETAs in
case you have some
</p>
<p>
it works well because at Yotpo we are super customer-centric. We are fanatics
about our customers (we look at them more like partners). They are our biggest
asset and that's the mindset of our Product team in terms of Product
prioritization.
</p>
<hr class="separator">

<img src="{% static 'images/blog/cs-leaders/cliff-kim.jpg' %}" width="150" height="150" class="headshot img-fluid" style="float: left; margin-right: 20px;"><h4>Cliff Kim, Head of Product @ <a target="_blank" href="https://www.catalyst.io">Catalyst</a></h4>
<p>
(Cliff is indeed a Head of Product.  He works closely with Susan Tran, who does
Customer Success Strategy at Catalyst, and who agrees with Cliff!)
</p>
<p>
We hold a cross-functional meeting every two weeks with representation from
Product, Engineering, CS, and Sales. We start off by having Sales and CS share
their biggest pain points and insights from the previous two weeks. Depending on
the topic, it could mean submitting a feature request or a bug, discussing the
GTM messaging, or learning how we can objection-handle in the future. In the
second half of the meeting, the Product/Engineering team will demo upcoming
features.
</p>
<p>
It works well because of 3 things:
</p>
<ol>
<li>Customer insights and pain points can be quickly shared to multiple
functions
<li>In addition to this meeting we gather feature requests from CS and Sales for
our quarterly planning, but the bi-weekly meeting allows for feedback to be
gathered early and often
<li>Often times the topics are shared using a call recording of the customer,
which helps to "humanize" the problem and allows for deeper empathy
</li>
</ol>

<hr class="separator">

<h3>How you can influence your company's Product Roadmap</h3>
<p>
Here are the key practices our Customer Success leaders embrace to influence the product roadmap that you can use at your company.
</p>
<p><strong>1. Get Executive buy-in.</strong>  Without this, you’ve got an uphill battle.</p>
<p><strong>2. Bring data.</strong> Quantifying the number of requests for a feature, the total MRR
represented by the customers who’ve asked for a feature, or the number of customers that
asked for a feature can help put a feature on the roadmap.</p>
<p><strong>3. Bring stories.</strong>  Sharing customers verbatims about problems can help motivate
your product, dev, and exec teams to align on priority.</p>
<p><strong>4. Align product vision with delighting your customers.</strong> You’ll want to find
that sweet spot of feature requests that align with where your company and
product are going AND that will delight your customers.  (One easy way to
delight your customers is to close the loop with them once you launch a feature they asked for).</p>
<p><strong>5. Have a system for collecting and organizing feedback from your customers.</strong>  One common thread is that CS reps have a place where they can link support
tickets to feature requests, see who asked for which features, tally up votes
and MRR for requests, and easily share it with their product and development
teams.</p>
<p>
Customer Success teams are owning more of the product roadmap at customer-centric SaaS companies.  There are two factors driving this:</p>
<ol><li>CS teams own expansion and renewal revenue -- the keys to net-negative revenue churn (and SaaS growth)</li>
<li>Customer Success teams are also the best-informed team about what their customers need to succeed.</ol>

<p>This combination of responsibility (for revenue) and knowledge (of what to build to drive renewal and expansion revenue) means it's inevitable that Customer Success teams will own an increasingly larger share of the product roadmap in the months and years to come.
</p>

    <i class="text-muted">Last updated June 16 2020</i>

    <div class="row mr0 ml0" >
      <div class="col-md-3 mt40 pt30 pb30 mb40 info-block">
          <img src="{% static 'images/founder-headshot-kareem.png' %}" alt="" class="headshot img-fluid" height="150" width="150">
      </div>
      <div class="col-md-9 mt40 pt30 pb30 mb40 info-block">
          <h4 class="no-anchor">Kareem Mayan</h4>
          <p class="small">Kareem is a co-founder at <a href="{% url 'marketing-home' %}">Savio</a>. He's been prioritizing customer feedback professionally since 2001. He likes tea and tea snacks, and dislikes refraining from eating lots of tea snacks.</p>
      </div>
    </div>

    <form method="post" action="https://sendfox.com/form/1dze03/1y0wom" class="sendfox-form" id="1y0wom" data-async="true" style=" border: 1px solid #aaa; padding: 20px 20px; background-color: #eee; margin-bottom: 40px;">

    <h4 class="mb20 alert-heading no-anchor">Want more articles like this?</h4>
    <p>Leaders from Slack, Zapier, and Appcues read our newsletter to delight customers, lower churn, and grow expansion revenue.</p>
    <p><input class="form-control" type="email" placeholder="Email Address" name="email" required /></p>

    <!-- no botz please -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
    <p class="text-center pb10"><button class="btn btn-primary" type="submit">Send me more articles like this</button></p>
    <div class="text-muted text-center">Max 2 emails/month. Unsub anytime.</div>

    </form>

  </div>

    {% include "includes/blog-cta.html" with title="Centralize customer feedback from all your tools" %}

{% endblock %}


{% block footer_scripts %}

  <!-- for auto-creating anchor link -->
  <script type="text/javascript" src="{% static 'jquery-anchorify/anchorify.js' %}"></script>

  <script type="text/javascript" src="{% static 'jquery.toc/jquery.toc.js' %}"></script>

  <script type="text/javascript">
      $(document).ready(function() {

        // This builds a table of contents including generating IDs for every H3 and H4 element that do NOT have a no-anchor class on them
        $("#toc-list").toc({content: "div.container", headings: "h3,h4", excludedClass: "no-anchor"});

        // This code displays anchor links when hovering over an
        // h3 or h4 with an ID.
        $("h4[id], h3[id]").each(function(index, e){
          x = anchorById(e["id"]);
          $(e).prepend(x);
        })

        function anchorById (id) {
          console.log(id)
          var anchor = $('<a></a>');

          anchor.attr({
                  href: '#' + id,
                  class: 'header-link'
          });

          anchor.html( '<svg aria-hidden="true" height="12" width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="M5.88.03c-.18.01-.36.03-.53.09-.27.1-.53.25-.75.47a.5.5 0 1 0 .69.69c.11-.11.24-.17.38-.22.35-.12.78-.07 1.06.22.39.39.39 1.04 0 1.44l-1.5 1.5c-.44.44-.8.48-1.06.47-.26-.01-.41-.13-.41-.13a.5.5 0 1 0-.5.88s.34.22.84.25c.5.03 1.2-.16 1.81-.78l1.5-1.5c.78-.78.78-2.04 0-2.81-.28-.28-.61-.45-.97-.53-.18-.04-.38-.04-.56-.03zm-2 2.31c-.5-.02-1.19.15-1.78.75l-1.5 1.5c-.78.78-.78 2.04 0 2.81.56.56 1.36.72 2.06.47.27-.1.53-.25.75-.47a.5.5 0 1 0-.69-.69c-.11.11-.24.17-.38.22-.35.12-.78.07-1.06-.22-.39-.39-.39-1.04 0-1.44l1.5-1.5c.4-.4.75-.45 1.03-.44.28.01.47.09.47.09a.5.5 0 1 0 .44-.88s-.34-.2-.84-.22z" /></svg>' );

          return anchor
        }
        // End Anchor display code


      });
  </script>
{% endblock %}
