              <ul class="feature-list list-unstyled">
                <li><a href="{% url 'marketing-use-cases-collect-feedback' %}">Centralize product feedback from any tool</a></li>
                <li>Quickly <a href="{% url 'marketing-use-cases-prioritize-feedback' %}">understand the features your key customer segments need</a></li>
                <li><a href="{% url 'marketing-use-cases-use-feedback' %}">Share context and data with your product team</a></li>
                <li><a href="{% url 'marketing-use-cases-close-loop' %}">Close the loop with your customers</a></li></ul>
