{% load static %}


        <div class="row">
            <div class='col-lg-12 pt40 pb40 text-center' >
                <h3>Integrates with</h3>
                <img class="img-fluid logo" src="{% static 'images/logos/slack-ddd.png'  %}" height="66" width="162">

                <img class="img-fluid logo" src="{% static 'images/logos/segment-ddd.png'  %}" height="66" width="193">
                
                <img class="img-fluid logo" src="{% static 'images/logos/chrome-ddd.png'  %}" height="43" width="140">

                <img class="img-fluid logo" src="{% static 'images/logos/intercom-ddd.png'  %}" height="40" width="155">

                <img class="img-fluid logo" src="{% static 'images/logos/helpscout-ddd.png'  %}" height="40" width="202">
            </div>
        </div>
