            {% if inactive_subscription %}
              <!-- most per seat customers will fall in here  -->
              <h5>Please add a valid credit card</h5>
              <p>You've tracked {{ feedback_count }} pieces of feedback with Savio.</p>
              <p>
                To reactivate your account please add a valid credit card. If you think this is a mistake (yikes... sorry about that!) or you've decided not to use Savio and want to export your feedback, please <a href="mailto:help@savio.io?subject=Help reactivating account">contact us.</a>
              </p>
              <hr>
            {% endif %}