{% load filters %}
<!DOCTYPE>
<html>
    <head><title>You have been invited you to join Savio</title></head>
    <body>
        <p>Savio helps you track feature requests to drive expansion and retention revenue.</p>
        <p>With Savio you can:</p>
        <ul>
            <li>Track feature requests from any tool</li>
            <li>Identify your feature request from your key customer segments</li>
            <li>Make customer-centric product decisions</li>
        </ul>
        <a href="{{invitation_url}}">Join the {{customer}} team here</a>
    </body>
</html>