{% extends "base.html" %}

{% block head %}
<script>
  window.intercomSettings = {
    app_id: "{{INTERCOM_APP_ID}}",
    {% if request.user.is_authenticated %}
    name: "{{name}}",
    email: "{{email}}",
    user_id: "{{user_id}}",
    mrr: {{user_mrr}},
    doctor_province: "{{doctor_province}}",
    company: {
        id: "{{company_id}}",
        name: "{{company_name}}",
        created_at: {{created_at}},
        plan: "{{plan_name}}",
        monthly_spend: {{company_mrr}},
        is_lighthouse: {{is_lighthouse}},
        is_customer: {{is_lighthouse}},
        upgraded_at: {{upgraded_at}}
    }
    {% endif %}
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/wtjp1cpi';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
{% endblock %}

{% block body_content %}
<div class="row align-items-center pt-30">
    <div class="col-md-12 mr-auto ml-auto">
        <div class="mb-0">
            <h4>Make me a random Intercom User</h4>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="portlet-box mb-30">
      <div class="portlet-body">
        <div class="table-responsive">
            <ul>
                <li><strong>name</strong>: {{name}}</li>
                <li><strong>email</strong>: {{email}}</li>
                <li><strong>user_id</strong>: {{user_id}}</li>
                <li><strong>user_mrr</strong>: {{user_mrr}}</li>
                <li><strong>doctor_province</strong>: {{doctor_province}}</li>
                <li><strong>company_id</strong>: {{company_id}}</li>
                <li><strong>company_name</strong>: {{company_name}}</li>
                <li><strong>company_mrr</strong>: {{company_mrr}}</li>
                <li><strong>plan_name</strong>: {{plan_name}}</li>
                <li><strong>is_lighthouse</strong>: {{is_lighthouse}}</li>
                <li><strong>is_customer</strong>: {{is_lighthouse}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block intercom %}{% endblock %}