{% load static %}
{% load filters %}

  <header class="navbar page-header darkHeader navbar-expand-lg">
    <ul class="nav flex-row mr-auto">
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link sidenav-btn h-lg-down {% hide_sidebar 'toggler' %}">
                <span class="navbar-toggler-icon"></span>
            </a>
            <a class="nav-link sidenav-btn h-lg-up" href="#page-aside"  data-toggle="dropdown" data-target="#page-aside">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>

    </ul>

    {% if request.user.is_authenticated %}
      {% if request.user.customer.subscription.credit_card_required %}
        <a class="btn btn-danger" href="{% url 'accounts-settings-add-credit-card' %}?add_card=1" role="button">
          You have {{request.user.customer.subscription.days_left_in_trial}} day{{request.user.customer.subscription.days_left_in_trial|pluralize}} left in your trial - Add Credit Card
        </a>
      {% endif %}

      {% if has_dummy_data %}
      <form role="form" method="post" action="{% url 'dummy-data-delete' %}?return={{request.get_full_path|urlencode}}">{% csrf_token %}
        <input type="submit" name="save-and-archive" value="Delete Sample Data" class="btn btn-danger">
      </form>
      {% endif %}
      <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
          <li class="nav-item">
            <span class="text-white">Changelog</span> <span id="changelog"></span>
          </li>
          <li class="nav-item dropdown user-dropdown align-items-center">
              <a class="nav-link" href="#" id="dropdown-user" role="button" data-toggle="dropdown" aria-expanded="false">
                  <span class="ml-2 h-lg-down dropdown-toggle">
                      Hi {{request.user.first_name}}
                  </span>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                  <a class="dropdown-item" href="{% url 'accounts-settings-list' %}"><i class="icon-Gear"></i>Settings</a>
                  <a class="dropdown-item" href="{% url 'accounts-my-settings-list' %}"><i class="icon-Wrench"></i>My Settings</a>
                  <a class="dropdown-item" href="{% url 'accounts-integration-settings-list' %}"><i class="icon-Puzzle"></i>Integrations</a>
                  <a class="dropdown-item" href="{% url 'accounts-user-list' %}"><i class="icon-User"></i>Manage Users</a>
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="icon-Power"></i>Logout</a>

              </div>
          </li>
<!--
          <li class="h-lg-up nav-item">
              <a href="#" class=" nav-link collapsed" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
                  <i class="icon-Magnifi-Glass2"></i>
              </a>
          </li>
-->
      </ul>
    {% endif %}
<!--
    <div class="collapse navbar-collapse search-collapse" id="navbarToggler">
        <form class="form-inline ml-1">     
            <button class="no-padding bg-trans border0" type="button"><i class="icon-Magnifi-Glass2"></i></button>
            <input class="form-control border0" type="search" placeholder="Search..." aria-label="Search">
        </form>
    </div>
-->
</header>
