{% load static %}
        <!-- Slack App ID so Slack will respond with app suggestions when savio.io links pasted in Slack -->
        <meta name="slack-app-id" content="AHB04HNE9">

        <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/plugins/plugins.css' %}" rel="stylesheet">

        <link href="{% static 'line-icons/line-icons.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap-tour/css/bootstrap-tour.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/select2-custom.css' %}" rel="stylesheet">
        <link href="{% static 'daterangepicker/daterangepicker.css' %}" rel="stylesheet">

        <script src="{% static 'jquery/jquery-2.1.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/appUi-custom.js' %}"></script> 
        <script type="text/javascript" src="{% static 'clipboardjs/clipboard.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-tour/js/bootstrap-tour.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/qs.js' %}"></script>
        <script type="text/javascript" src="{% static 'moment/moment.js' %}"></script> 
        <script type="text/javascript" src="{% static 'daterangepicker/daterangepicker.js' %}"></script> 

        <link rel="icon" type="image/png" href="{% static 'images/favicon_48.png' %}" />
