{% extends "login-template.html" %}

{% block title_content %}
Choose a new password 
{% endblock %}

{% block body_content %}

{% if validlink %}

<form method="post">{% csrf_token %}
    <div class="input-icon-group">

        <div class='input-icon-append'>
            <i class="fa fa-lock"></i>
            <input placeholder="Enter new password" tabindex="1" autofocus class="form-control" type="password" name="new_password1" required="" id="new_password1">
            {{ form.new_password1.errors }}

        </div>
    </div>

    <div class="input-icon-group">

        <div class='input-icon-append'>
            <i class="fa fa-lock"></i>
            <input placeholder="Confirm new password" tabindex="1" class="form-control" type="password" name="new_password2" required="" id="new_password2">
            {{ form.new_password2.errors }}

        </div>
    </div>
    <input class="btn btn-small btn-block btn-lg btn-primary" type="submit" value="Change My Password">
</fieldset>
</form>

{% else %}

<p>This password reset URL is invalid, possibly because it has already been used.</p>
<p>
  <a class="btn btn-small btn-block btn-lg btn-primary" href="{% url 'password_reset' %}">Request Another Password Reset url</a></p>
{% endif %}

{% endblock %}
