{% extends "base_landing_page.html" %}
{% load static %}
{% load filters %}

{% block head %}

<meta property="og:url" content="{{ request.build_absolute_uri }}" />

<!-- og:title should be 85 chars max -->
<meta property="og:title" content="{{story.content.og_title}}" />

<meta property="og:type" content="article" />

<!-- og:description should be 200 chars max. Make sure first 150 make sense. -->
<meta property="og:description" content="{{story.content.og_description}}" />
<meta property="og:site_name" content="Savio" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@savio_io" />

<!-- 115 chars max -->
<meta property="twitter:description" content="{{story.content.twitter_description}}" />

{% endblock %}

{% block meta_title %}
{{story.content.title}}
{% endblock %}

{% block meta_desc %}
{{story.content.description}}
{% endblock %}

{% block title %}
{{story.content.title}}
{% endblock %}

{% block content %}

<div class="bg-white pt70 pb50">
  <div class="container">
    <div class="row">
      <div class='col-lg-6'>
        <h2>{{story.content.hero_title}}</h2>
        <div class="h4 mt20 mb50">
          {{story.content.hero_description|markdownify}}
        </div>
      </div>
      <div class='col-lg-6 mt10 mb50'>
        <img class="img-fluid" style="border: 1px solid #ddd" src="{{story.content.hero_image}}">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-lg btn-primary btn-rounded" href="/app/accounts/join/">
          {{story.content.call_to_action_button}}
        </a>
      </div>
    </div>
  </div>
</div>

<section id="features" class="bg-faded">
  <div class="container pt50 pb50">
    <h3 class="text-center section-title mb40">{{story.content.benefits_title}}</h3>
    <div class="row">
      {% for benefit in story.content.benefits %}
      <div class="col-lg-4 border border-faded border-top-0 border-left-0 feature-icon text-center">
        <i class="{{benefit.icon_class}} text-primary"></i>
        <h4>{{benefit.name}}</h4>
        <p class="text-left">
          {{benefit.description}}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="text-center pt50">
      <a class="text-center btn btn-lg btn-primary btn-rounded" href="/app/accounts/join/">{{story.content.call_to_action_button}}</a>
    </div>
  </div>
</section>

<section id="reviews" class="bg-primary-dark">
  <div class="container pt50 pb50">
    <h3 class="section-title text-white">{{story.content.quotes_title}}</h3>
    <div class="row mt30">
      <div class="col-md-10 mr-auto ml-auto">
        <div class="carousel-review owl-carousel owl-theme">
          {% for quote in story.content.quotes %}
          <div class="item text-center">
              <p class="text-white-gray">
                  “{{quote.quote}}”
              </p>
              <img src="{{quote.headshot}}" alt="" class="img-fluid  rounded-circle">
              <h5 class="text-center text-white">{{quote.first_name}}, {{quote.role}}, {{quote.company_name}}</h5>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-center pt50">
      <a class="text-center btn btn-lg btn-primary btn-rounded" href="/app/accounts/join/">{{story.content.call_to_action_button}}</a>
    </div>
  </div>
</section>

{% for feature in story.content.features %}
<div class="{% cycle 'bg-white' 'bg-faded' %} feature-img-section pt50 pb50">
   <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>{{feature.name}}</h2>
                <div class="list-unstyled feature-list">
                  {{feature.description|markdownify}}
                </div>
            </div>
            <div class="col-lg-6">
              <img class="img-fluid" style="border: 1px solid #ddd" src="{{feature.screenshot.image}}">
            </div>
        </div>
        <div class="text-center pt50">
          <a class="text-center btn btn-lg btn-primary btn-rounded" href="/app/accounts/join/">{{story.content.call_to_action_button}}</a>
        </div>
    </div>
</div>
{% endfor %}

<div class="bg-white pt50 pb50">
    <div class="container">
    {% include "includes/integration_logos.html" %}
    </div>
</div>
{% endblock %}
