{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{{ form.media }}
<link href="{% static 'taginput/bootstrap-tagsinput.css' %}" rel="stylesheet">
<link href="{% static 'taginput/bootstrap-tagsinput-typeahead.css' %}" rel="stylesheet">
{% endblock %}

{% block body_content %}

<div class="row align-items-center pt-30">
    <div class="col-md-12 mr-auto ml-auto">
        <div class="mb-0">
          <h4>Invite User</h4>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-9">
    <div class="mb-30">
      <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
        <div class="portlet-body">

            {% if not user.customer.subscription.can_add_more_users %}
              <div class="row">
                <div class="col-lg-12">
                    <div class="mt-30 alert alert-danger" role="alert">
                      You can have {{ user.customer.subscription.plan_users }} user{{ user.customer.subscription.plan_users|pluralize}} on your plan.  To add more users, first <a href="{% url 'accounts-settings-add-credit-card' %}{%if user.customer.subscription.no_card_on_file %}?add_card=1{% endif %}">upgrade your plan here</a>.
                    </div>
                </div>
              </div>
            {% else %}

              {% if is_plan_per_seat %}
                  <div class="alert alert-warning" role="alert">
                    <strong>Inviting an 'Owner' or 'Admin' user adds a seat to your subscription.</strong>
                  </div>
              {% endif %}

              <form method="post">{% csrf_token %}
                <label>Emails</label>
                <input type="text" name="emails" id="emails" data-role="tagsinput" />
                {{ form|crispy }}
                {% if form.errors %}
                    <p>You can have {{ user.customer.subscription.plan_users }} user{{ user.customer.subscription.plan_users|pluralize}} on your plan.  To add more users, please upgrade your plan <a href="{% url 'accounts-settings-add-credit-card' %}{%if user.customer.subscription.no_card_on_file %}?add_card=1{% endif %}">here</a></p>
                {% endif %}
                <input type="submit" name="action" value="Invite Users" class="btn btn-primary">
                or <a href="{% url 'accounts-invitation-list' %}">cancel</a>
              </form>
            {% endif %}
          </div> <!--portlet-body -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
    $('#emails').on('itemAdded', function(event) {
        if(!validateEmail(event.item)) {
            $('#emails').tagsinput('remove', event.item);
        }
    });
})
function validateEmail(email) {
    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}
</script>
<!-- these three scripts included for problem splitter feature -->
<script src="{% static 'taginput/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'taginput/bootstrap-tagsinput.js' %}"></script>
<!-- end problem_splitter includes -->
<style type="text/css" rel="stylesheet" media="all">
    .bootstrap-tagsinput {
        width: 100%
    }
    .label-info {
        background-color: #5bc0de
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
    .alert.alert-danger {
        padding: 0 1.25rem
    }
</style>
{% endblock %}