{% load static %}
{% load filters %}
<!DOCTYPE html>
<html>
    <head>

        {% include "includes/head-css-and-js.html" %}

        {% block head %}{% endblock %}
        <title>{% block title_tag %}Savio{% endblock %}</title>
        {% include "includes/tracking.html" %}
    </head>
    <body>
      <div class="page-wrapper" id="page-wrapper">

        <!-- sidenav -->
        {% include "includes/sidenav.html" %}

        <main class="content">
          {% include "includes/header.html" %}
          <!-- page-content.html -->
          <div class="page-content">
            <div class="container-fluid">

              {% include "includes/load_feedback_and_features.html" %}
              {% include "includes/messages.html" %}

              {% block body_content %}You need to fill in body_content block {% endblock %}

            </div>
          </div>
        </main>
      </div>
      {% block script %}{% endblock %}
      {% block intercom %}
      {% include 'includes/intercom_widget.html' %}
      {% endblock %}

      {% include "includes/headway.html" %}

    </body>
</html>
