{% extends "blog-page.html" %}
{% load static %}
{% load filters %}

{% block meta_title %}Uservoice alternative | The best alternative to Uservoice | Savio{% endblock %}

{% block meta_desc %}Looking for a Uservoice alternative to help product managers track feature requests? See why Savio is the best alternative to Uservoice.{% endblock %}

{% block head %}
  <!-- open graph tags -->
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:title" content="Uservoice alternative for tracking feature requests | Savio" /> <!-- 57 chars -->
  <meta property="og:type" content="website" />
  <meta property="og:description" content="See why Savio is the best alternative to Uservoice to track feature requests" /> <!-- 73 chars -->

  <meta property="og:site_name" content="Savio" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/alternatives/savio-or-uservoice.png' %}" />

  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="750" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@savio_io" />

  <!-- 115 chars max -->
  <meta property="twitter:description" content="See why Savio is the best alternative to Uservoice to track feature requests" />

  <!-- end open graph -->
  {% endblock %}


{% block content %}

  <div class="col-md-12 blog blog-title text-center">
    <h1>The best alternative to Uservoice to track feature requests</h1>
    <h2 class="text-muted">Uservoice vs Savio: how they compare</h2>
    <img src="{% static 'images/alternatives/savio-or-uservoice.png' %}" class="image img-fluid" width="500" height="250"><br>
  </div>
    <div class="col-md-8 offset-md-2 blog">

    <h3 class="pt40 no-anchor">Summary</h3>
    <ul>
      <li>Choose <strong>Uservoice</strong> if your main source of feedback is a public voting portal and want to spend 5 or 6 figures on your tooling</li>
      <li>Choose <strong>Savio</strong> if you want native integrations that make tracking features from Intercom, Help Scout, or Slack easy, a voting portal isn't important to you, or you don't want to spend $10,000+ on your tooling</li>
      <li>Read on for the full comparison</li></ul>
    </ul>

    <div id="toc">
      <h2>Table of contents</h2>
      <ul id="toc-list"></ul>
    </div>

    <h3 class="pt20 pb20">Centralize feature requests from all your tools</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="OK" %}

    <h4>Savio</h4>
    <p>Savio centralizes feature requests from any place your team receives them.  You can <a href="{% url 'marketing-integrations-intercom-product'%}">track feature requests received in Intercom</a>, <a href="{% url 'marketing-integrations-helpscout-product'%}">Help Scout</a>, or posted <a href="{% url 'marketing-integrations-slack'%}">in Slack</a>.  You can use a <a href="{% url 'marketing-chrome-extension'%}">Chrome Extension to track feature requests</a> in any other web-based tool that your team uses (like a CRM).  You can <a href="{% url 'marketing-send-email'%}">send feature requests in via email</a>, <a href="{% url 'marketing-help-zapier'%}">send feature requests from any tool via Zapier</a>, or <a href="{% url 'marketing-help-api'%}">use an API to track feature requests</a>.  Each of these minimizes disruption when your support or sales teammates need to track feature requests.</p>
    <p>Once centralized, you can prioritize your features knowing they're all in one place.</p>

    <h4>Uservoice</h4>
    <p>Centralizing your feature requests from different tools in Uservoice will be difficult if you're not using tools they support natively (Salesforce and Zendesk).  If you want to put feedback into UserVoice from any other tools, you're going to have to wire something up with Zapier, use their API, or cut and paste a ton.</p>

   <h3 class="pt40 pb20">Self-service sales model</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}
    <h4>Savio</h4>
    <p>We believe that the best way to figure out whether a product meets your needs is to use it.  That's why you can sign up to try this alternative to Uservoice for free to try it out and decide whether it works for you.</p>
    <p>You don't need to talk to multiple sales people over several weeks. You don't need a live demo. Just <a href="{% url 'accounts-join' %}">try Savio</a>, and if you have questions, we're here to help.</p>

    <h4>UserVoice</h4>
    <p>You can't try UserVoice before you buy. You need to talk to multiple people over several weeks, and the demo is controlled by the sales person.  You'll only discover how it works for your process after your company has written them a huge check and after you've put your credibility on the line with your boss.</p>


    <h3 class="pt40 pb20">Reasonable pricing</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}
    <h4>Savio</h4>
    <p>Savio is free for one user, $25/m for three, $49/m for unlimited.  Your fees are predictable, transparent, and capped at $49/month.  You can also afford to pay for them with a credit card.  You can <a href="{% url 'marketing-pricing' %}">see Savio's pricing here.</a></p>

    <h4>UserVoice</h4>
    <p>UserVoice's pricing is opaque. You need to speak to several people to get a price. And the price will be at least 5 figures, maybe 6.  How they came up with that number also won't be clear.  You'll also need to get all kinds of financial approvals to start using UserVoice.</p>

    <h3 class="pt40 pb20">Collect Feature Requests From Any Web-Based Tool</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}
    <h4>Savio</h4>
    <p>You can <a href="{% url 'marketing-chrome-extension'%}">track feature requests from any tool with the Savio Chrome extension</a>.  This means that your teammate is able to stay in their support tool, CRM, etc when they send feature requests to Savio.  Just click the Chrome Extension, enter details about the feature request, and you're done.  You don't have to switch tools or tabs: minimal disruption.  </p>

    <p>Savio's Chrome Extension ensures your teammates will track more feature requests because it's lower friction than cutting and pasting between different tabs.</p>

    <h4>Uservoice</h4>
    <p>Since Uservoice only has integrations with Salesforce, Zendesk, and a few NPS tools, tracking features from any other tools gets complicated.  To track a feature request, your sales, success, or support team must have both UserVoice and the other tool open in two different windows.  They will have to cut and paste between feedback from the tool to Uservoice to track it there.</p>


    <h3 class="pt20 pb20">Automatically import customer data</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="OK" %}
    <h4>Savio</h4>
    <p>Since not all feedback is equal, Savio tracks WHO requests a feature. If you don't know details about who requested a feature, you're basing key decisions on things like number of upvotes.  You can't query for "all feature requests from Enterprise customers" or "feature requests from churned customers" or "feature requests from customers paying $300/m or more" like you can in Savio.</p>

    <p>Savio can import customers, accounts, and related properties like MRR, Plan, and any other attributes you care about. You can <a href="{% url 'marketing-integrations-segment' %}">import your list of customers and properties from Segment</a>, from <a href="{% url 'marketing-integrations-intercom-product' %}">Intercom</a>, or from <a href="{% url 'marketing-integrations-helpscout' %}">Help Scout</a>.  It's just one click to import and to stay in sync as new customers join your app and their properties change.</p>

    <h4>Uservoice</h4>
    <p>Uservoice can import your customer data, but it has to be done through their API.  Which means you need a developer to help with the integration. There's no way to import customer data without a developer like there is in Savio.</p>

    <h3 class="pt40 pb20">Collect feature requests from Help Scout</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}

    <h4>Savio</h4>
    <p>Savio has a native integration that allows you to <a href="{% url 'marketing-integrations-helpscout-product' %}">track feature requests from Help Scout</a>.  When your support team gets a message with a Feature Request, they just add a predefined tag to the conversation.  Savio will then pull the feature request in.  Savio will also add a private note to the Help Scout Conversation to confirm that it's pulled the feature in. This means your teammates don't need to leave Help Scout to track feature requests in Savio, nor do they need a Savio account.  This is a major reason why people like Savio as a Uservoice alternative.</p>

    <div class="text-center">
      <img class="img-fluid image" src="{% static 'images/help/helpscout/helpscout-integration-animated.gif'  %}">
    </div>
    <div class="text-center mb30">Tag a conversation to send Feature Requests from Help Scout to Savio</div>

    <h4>Uservoice</h4>
    <p>Uservoice doesn't have a Help Scout integration.  So tracking feature requests from Help Scout in Uservoice is a manual process involving cutting and pasting or requires developer effort.</p>

    <h3 class="pt40 pb20">Collect feature requests from Intercom</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}

    <h4>Savio</h4>
    <p>Savio has a native integration that allows you to <a href="{% url 'marketing-integrations-intercom-product' %}">track feature requests from Intercom</a>.  Similar to <a href="{% url 'marketing-integrations-helpscout-product' %}">tracking feature requests in Help Scout</a>, when your support team gets a message with a Feature Request, they just tag the messsage with a predefined tag for Savio to slurp the feature request in.  Savio will also add a private note to the Intercom conversation to confirm that it has the feature request. This means your teammates don't need to leave Intercom to track feature requests in Savio, nor do they need a Savio account. </p>

    <div class="text-center">
      <img class="img-fluid image" src="{% static '/images/help/intercom/intercom-integration-animated.gif'  %}">
    </div>
    <div class="text-center mb30">Tag a conversation to send Feature Requests from Intercom to Savio</div>

    <h4>Uservoice</h4>
    <p>Uservoice doesn't have an Intercom integration.  Tracking feature requests sent to Intercom using Uservoice involves a lot of cutting and pasting.</p>

    <h3 class="pt40 pb20">Collect feature requests from Slack</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}

    <h4>Savio</h4>
    <p>Savio has a native integration with Slack. With it you can <a href="{% url 'marketing-integrations-slack' %}">collect feature requests from Slack</a> and send them to Savio with the click of a button.  So when your teammates share feedback or feature requests from customers in Slack, those feature requests won't be lost.  They'll be centralized with feature requests from other tools, and you can use them later on to prioritize what features to build.</p>

    <div class="text-center">
      <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/KOwnybk_clU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text-center mb30">Savio can listen to a Slack channel for feature requests</div>

    <h4>Uservoice</h4>

    <p>With Uservoice there's no straightforward way to track feature requests shared in Slack.</p>


    <h3 class="pt40 pb20">Collect feature requests via Email</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Good" %}

    <h4>Savio</h4>
    <p>When product feedback hits your inbox, you can email it directly to Savio.  Savio will pull out the name and email address of the person who sent YOU the feedback.  And it'll land in your Savio inbox, ready for you to <a href="{% url 'marketing-triage' %}">triage it</a>.</p>

    <h4>Uservoice</h4>
    <p>You can email feedback directly to your private Uservoice email address.  When you do, it appears in a Uservoice list for you to triage later.</p>


    <h3 class="pt40 pb20">Has feedback triage process</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}

    <h4>Savio</h4>
    <p>You've heard of the phrase garbage in, garbage out?  Triaging ensures your feature request list quality stays high and you can base your decisions on vetted feedback.</p>

    <p>When feedback is sent into Savio, it lands in your feedback inbox. Somebody on your team should <a href="{% url 'marketing-triage' %}">triage your product feedback</a> regularly.  Triaging means assigning a customer, choosing a feature request for the feedback, and determining whether the feedback was from an active customer, a churned customer, a lost deal, a prospect or a teammate.</p>
    <p>This triage step means that every bit of data in Savio that you're going to base your valuable and important prioritization decisions on will have been vetted by somebody on your product team.</p>

    <h4>Uservoice</h4>
    <p>UserVoice doesn't have the notion of feedback triage. All feedback bypasses your product team and is logged. Which means you really need to trust your support, success, and sales team to add feedback that matters.</p>

    <h3 class="pt40 pb20">Segment feature requests from customers you care about</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Good" %}

    <h4>Savio</h4>
    <p>Some customers are simply more valuable to your business. Customers in your ideal customer profile are ones that you want to listen to more than others. </p>

    <p>So when prioritizing, you often want to focus on building features for a certain set of customers. </p>

    <p>Because Savio imports your customers, their MRR, their plan, and any other custom attributes you care about, you can segment your feature requests by plan, MRR, or by any of those attributes.</p>

    <p>Savio respects that all customers and all feedback are not created equal.  Prioritizing based on number of requests is useful, but coarse.  You probably want to prioritize for what actually matters to the customers you care about.</p>

    <h4>Uservoice</h4>
    <p>Uservoice lets you segment features by customer MRR, plan, etc. It's one of the areas where UserVoice shines!</p>

    <h3 class="pt40 pb20">Public or private voting portal</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Not Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Good" %}
    <h4>Savio</h4>
    <p>Savio does not have a public place where customers can see and vote on feature requests.</p>

    <h4>Uservoice</h4>
    <p>Uservoice has a voting portal that can be public or private.</p>
    <p>The advantage of having a portal is that you get feedback without anybody on your team needing to handle it.</p>
    <p>There are a few downsides to having a portal. Here are the main ones:</p>
    <ul><li>Customers can get frustrated that you haven't built a feature ("This feature has been open for three years, why haven't you built it yet?!")</li>
    <li>It gives your competition ideas about where your product is weak</li>
    <li>it over-indexes for the "squeaky wheels". Are the people who leave feedback really representative of your customer base as a whole?</li></ul>

    <p>If a public voting portal is what you're after, Savio's probably not the right fit for you.</p>



    <h3 class="pt40 pb20">Close the loop with customers</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Good" %}

    <h4>Savio</h4>
    <p>When you build a feature that a customer asked for and let them know, it's usually thrills them.  It shows you care about solving their problems AND letting them know you solved it.  Closing the loop is one of the best things you can do for customer loyalty.

    <p>Closing the loop in Savio is easy.  When you click on a feature, you'll see each person that asked for it. You can either contact each person from there via email, or you can click through to the original Help Scout, Intercom, or other conversation thread where you first received the feature request.</p>

    <img src="{% static 'images/alternatives/savio-close-loop-marked-up.png' %}" class="img-fluid img-border" /><br>
    <div class="text-center">
    <small>It's easy to close the loop with customers in Savio</small></div></p>

    <h4>Uservoice</h4>
    <p>With UserVoice you can close the loop with customers by email.</p>

    <h3 class="pt40 pb20">See detailed feedback for every Feature Request</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="OK" %}

    <h4>Savio</h4>
    <p>With Savio, when you click on a feature request you'll see:</p>
    <ul><li>everybody who asked for that feature
      <li>each customer's exact words they used when they asked for the feature</li>
      <li>their company, MRR, plan, and any other <a href="{% url 'marketing-customer-attributes'%}">customer attributes</a> you've sent in</li>
      <li>whether they're churned, active, a lost deal, a prospect, or a teammate</li>
      <li>And you can even click through to the source tool where the feedback came in from.</li>
    </ul>

    <div class="text-center">
        <img class="img-fluid image" src="{% static 'images/help/product-planning/feature-request-feedback-close-up.png' %}">
    </div>
    <div class="text-center mb30">See all details about a feature in one place (in this case, a request for "Better Permissions")</div>

    <h4>Uservoice</h4>
    <p>In UserVoice, when you view a Feature Request you can see the original request, everybody who's voted for it, and any comments left by your teammates or voters.  You don't get as much context about who those people are or the nature of their feature request.</p>

    <h3 class="pt40 pb20">Import users without adding and customizing Javascript</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}
    <h4>Savio</h4>
    <p>In Savio, you can import users without adding custom JavaScript to your site.  This means that you can import customers without needing a developer. You can either import your users from Intercom or you can import your users from Segment, just by clicking a few buttons. You can get up and running in seconds rather than hours or even days - this makes Savio a great alternative to Uservoice.</p>

    <h4>Uservoice</h4>
    <p>Uservoice lets you import customers, but you need to use their API to do so.  Which means you need a developer to help you integrate.</p>


    <h3 class="pt40 pb20">Export your data to CSV</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}
    <h4>Savio</h4>
   <p>With Savio, it's straightforward to export your data to a CSV.  You just click a link and you'll be emailed a CSV within minutes containing all of your feature requests, customer feedback, name, email address account, MRR, Plan, tags, etc. It's your data and you should be able to take it out whenever you want.</p>

    <h4>Uservoice</h4>
    <p>With Uservoice there's no apparent way to export your data to a CSV file.</p>

    <h3 class="pt40 pb20">Record customers' actual words about problems, not just votes</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="OK" %}
    <h4>Savio</h4>
    <p>In Savio, you can record and see the actual words that a customer used to describe their problem.  Additionally, each piece of customer feedback is a vote for a feature.  So you get BOTH votes AND actual customer words.</p>

    <h4>Uservoice</h4>
    <p>With Uservoice, you get votes and users can leave comments. But you often get a wide spread between the number of votes and the number of comments.<br><br>

    <p>It can't be understated how important it is to have customers' words instead of just upvotes to make good prioritization decisions. A customers' words help you understand the context and boundaries of the problem to build a good solution.</p>

    <h3 class="pt40 pb20">Can your sales and support team capture feedback without leaving their tools?</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="OK" %}
    <h4>Savio</h4>
    <p>With Savio there are two ways that you can capture feedback from an existing tool.  One is with a native integration with Help Scout, Intercom, or Slack.  If you're using one of those tools, your teammates do not need a Savio account and they don't need to leave the support tool or CRM. They just add a tag and move on with their life.  If you get feedback in other tools, your teammates can use the Chrome Extension to send relevant feature requests to Savio without leaving the tool where the feedback arrived.</p>

    <p>These two approaches mean your team's workflow is barely (or not at all) disrupted, and it increases the liklihood that you'll capture good quality feature requests.</p>

    <h4>Uservoice</h4>
    <p>With Uservoice you can capture feedback from Zendesk or Salesforce using their extensions.  But if you're trying to capture feature requests from other tools, there's no avoiding the fact that there will be a lot of cutting and pasting between the support, success, or sales tools and Uservoice.  This is a more disruptive workflow for your teammates.</p>

   <h3 class="pt40 pb20">Friendly Support</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="OK" %}

    <h4>Savio</h4>
    <p>Savio is run by us, Ryan Stocker and Kareem Mayan. We're two developers-turned-product managers-turned-founders who've been building software since 2001.  We're also the people who answer your support requests!</p>

    <p>We built Savio, and we know how it works inside and out. Which means we can write code ourselves to fix the problems that you have.  We care passionately about making sure that you're successful, because if you are successful, we're successful. You're not just another number who's going to get support from somebody who's five levels away from the CEO or three levels away from the developers and whose requests have to go through a product team to be prioritized. </p>

    <h4>UserVoice</h4>
    <p>UserVoice is a large company with a large support team.  Support is friendly, but given the people answering your support requests aren't the people writing code, you'll probably have to wait longer to get your problems solved.</p>


    <h3 class="pt40 pb20">Use tags to group and sort feedback</h3>
    {% include "includes/alternatives-table.html" with savio_rating="Good" competitor_image="images/alternatives/uservoice.png" comp_rating="Not Good" %}
    <h4>Savio</h4>
    <p>In Savio, you can add tags to customer feedback.  You might want to tag feedback with things like "Q3 Power Users Survey" or "Feb Voice of Customer Interviews" or even by component like "UX" or "Onboarding Experience".  When you do this, you can look at all of the feedback you've gotten from your Power Users, February Customer calls, or all your UX or Onboarding improvements.</p>

    <h4>UserVoice</h4>
    <p>In UserVoice there is no way to add tags to feedback, so you can't look at your feedback grouped in ways that you want to see it.</p>



    <div class="row mr0 ml0" >
      <div class="col-md-12 mt40 pt30 pb30 mb40 text-center info-block">
          <h4 class="no-anchor">Import your Uservoice Data</h4>
          <p>Looking for a Uservoice alternative? We'll import your data for free.</p>
          <img src="{% static 'images/alternatives/uservoice-to-savio.png' %}" class="img-fluid pb30" height="300" width="150">
          <p><a class="btn btn-primary" href="mailto:founders@savio.io?Import+Uservoice+data">Contact Us to Import Data</a>
      </div>
    </div>

    {% include "includes/blog-cta.html" with title="Switch from Uservoice Today" %}

  </div>
{% endblock %}

{% block footer_scripts %}

  <script type="text/javascript" src="{% static 'jquery.toc/jquery.toc.js' %}"></script>
  <script type="text/javascript">
      $(document).ready(function() {
        $("#toc-list").toc({content: "div.container", headings: "h3", excludedClass: "no-anchor"});
      });
  </script>
{% endblock %}
